* {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* 
    Secciones
 */
 .container_content{
    display: grid;
    margin: 5% 4%;
    justify-content: center;
    grid-template-rows: auto;

    margin-bottom: 20%;
    gap: 20px;
}

.button {
    width: 80%;
    margin-top: 5%;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: #fe5000e6;
    color: white;
    position: relative;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    -webkit-box-shadow: 7px 14px 13px -7px #caffef;
    -moz-box-shadow: 7px 14px 13px -7px #caffef;
    box-shadow: -1px 15px 18px -10px #15fff442;

    transition: .3s ease;
}